/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
    color: #46143F;
    background: linear-gradient(to bottom, #7acbf5 0 5%, #eaacb8 20% 40%, #fff 41% 59%, #eaacb8 60% 80%, #7acbf5 95% 100%);
    background-attachment: fixed;
    font-family: Verdana;
}

#age {
    font-weight: bold;
    font-style: italic;
}

#name {
    font-weight: bold;

}